
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://photos.wikimapia.org/p/00/00/99/64/47_big.jpg"
      cardTitle="Nossa instalação"
      cardDescription="Lorem inpsum"
      >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      smallCardTitle="Etec Camargo Aranha, na Mooca, recebe presidentes de grandes empresas em evento sobre ética "
      smallCardPhoto="https://bkpsitecpsnew.blob.core.windows.net/uploadsitecps/sites/1/2018/11/20111118a-1.jpg"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      smallCardTitle="etc"
      smallCardPhoto="https://bkpsitecpsnew.blob.core.windows.net/uploadsitecps/sites/1/2018/11/20111118a-1.jpg"
    >
    </app-small-card>

    <app-small-card
      Id="4"
      smallCardTitle="etc"
      smallCardPhoto="https://bkpsitecpsnew.blob.core.windows.net/uploadsitecps/sites/1/2018/11/20111118a-1.jpg"
    >
    </app-small-card>
  </div>
</div>
