/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #111111;
  background-color: rgb(255, 254, 254);
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

a{
  text-decoration: none;
}
